# Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
db.sqlite3
media/
staticfiles/

# Virtual environment
env/
venv/
.venv/

# Environment variables
.env
.env.*
!.env.example
!.env.local.example

# Node
node_modules/
.next/
out/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/ 